<div>
    <ion-view view-title="Cafeteria ITESM">
        <ion-content>    
                  <div class="list">
                        <label class="item item-input">
                            <span class="input-label">Nombre</span>
                            <input type="text" ng-model="cliente.nombre">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Password</span>
                            <input type="password" ng-model="cliente.password">
                        </label>


                  <button class="button button-block button-positive" ng-click="ir()">
                    Login
                  </button>
                </div> 
        </ion-content>
    </ion-view>
</div>