<div>
    <ion-view view-title="Cafeteria ITESM">
        <ion-content> 

            <div class="list">

                <label class="item item-input item-select">
                    <div class="input-label">
                        Menu del día
                    </div>
                    
                    <select ng-model="seleccion">
                        <option ng-repeat="receta in recetas">{{ receta.nombre }}</option>
                    </select>
                </label>

                <button class="button button-block button-dark" ng-click="irIngredientes(seleccion)">
                    Selecionar Platillo
                </button>
                
            </div>
            
        </ion-content>
    </ion-view>
</div>