<div>
    <ion-view view-title="Menu">
        <ion-content> 

            <div class="list">

                <label class="item item-input item-select">
                    <div class="input-label">
                        Menu del día
                    </div>
                    
                    <select>
                        <option>Nopalitos con chipotle</option>
                        <option>Huitlacoche con crema</option>
                        <option>Fritada de ranas</option>
                        <option>Tlacoyos</option>
                        <option>Tostadas de pata</option>
                    </select>
                </label>

            </div>
            
        </ion-content>
    </ion-view>
</div>