<div>
    <ion-view view-title="Opcion">
        <ion-content>    
                  <div class="list">
                    
                    <button class="button button-block button-positive">
                        Menú del día
                    </button>
                    
                    <button class="button button-block button-positive">
                        Personalizar platillo
                    </button>
                      
                  </div> 
        </ion-content>
    </ion-view>
</div>