<div>
    <ion-view>
        <ion-nav-title>Cafeteria ITESM: personalizando {{ platillo }}</ion-nav-title>
        <ion-content> 

            <ion-list>

                <ion-checkbox ng-repeat="ingrediente in ingredientes" ng-model="ingrediente.selected">{{ ingrediente.nombre }}</ion-checkbox>

            </ion-list>
            
            <label class="item item-input item-stacked-label">
                <span class="input-label">Comentarios</span>
                <textarea></textarea>
            </label>
            
            <button class="button button-block button-positive" ng-click="aPlatillo()">
                Block Button
            </button>
            
        </ion-content>
    </ion-view>
</div>